<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Options +Indexes

  RewriteEngine on

  # test string is a valid file
  RewriteCond %{SCRIPT_FILENAME} !-f
  # test string is a valid directory
  RewriteCond %{SCRIPT_FILENAME} !-d

  RewriteRule ^(.*)$   index.php?/$1    [NC,L]
</IfModule>

<FilesMatch ".(yaml|yml|php|inc)$">
  order allow,deny
  deny from all
</FilesMatch>

<Files index.php>
  order allow,deny
  allow from all
</Files>
